@model OnlineJKH.DAL.Entities.Receipt
@{
    ViewData["Title"] = ViewBag.NameView ?? "Добавление";
}
@using (Html.BeginForm("EditForm", "Receipt", FormMethod.Post))
{
    <div class="row d-flex align-items-center justify-content-center" style="min-height: 100vh">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4" style="margin-left: 70px;">
            @Html.LabelFor(m => m.PaymentAmount,new{@for="PaymentAmount",@class="h4"})
            <br />
            @Html.TextBoxFor(m => m.PaymentAmount, new{@type="text", @style="width: 268px;margin-bottom: -15px;", @id="Indication",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.PaymentAmount)
            <br />
            @Html.LabelFor(m => m.MeterReading.IndicationValue, new{@for="PersAccId",@class="h4"})
            <br />
            @Html.DropDownListFor(m => m.MeterReadingId, ViewBag.MetRead as SelectList,"Выберите показания счетчика...", new{@id="PersAccId", @style="width: 268px;margin-bottom: -15px;",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.MeterReading.IndicationValue)
            <br />
            <input type="submit" class="btn-primary btn" value=@ViewBag.Button />    <a class="btn btn-primary" asp-action="Index" asp-controller="Receipt">Вернуться к списку</a>
        </div>
    </div>
}