@model OnlineJKH.DAL.Entities.User
@{
    ViewData["Title"] = "Добавление";
}
@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    <div class="row d-flex align-items-center justify-content-center" style="min-height: 100vh">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4" style="margin-left: 70px;">
            @Html.LabelFor(m => m.Surname,new{@for="Surname",@class="h4"})
            <br />
            @Html.TextBoxFor(m => m.Surname, new{@type="text", @style="width: 268px;margin-bottom: -15px;", @id="Surname",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.Surname)
            <br />
            @Html.LabelFor(m => m.Name,new{@for="Name",@class="h4"})
            <br />
            @Html.TextBoxFor(m => m.Name, new{@type="text", @style="width: 268px;margin-bottom: -15px;", @id="Name",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.Name)
            <br />
            @Html.LabelFor(m => m.Patronymic,new{@for="Patronymic",@class="h4"})
            <br />
            @Html.TextBoxFor(m => m.Patronymic, new{@type="text", @style="width: 268px;margin-bottom: -15px;", @id="Patronymic",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.Patronymic)
            <br />
            @Html.LabelFor(m => m.Address,new{@for="Address",@class="h4"})
            <br />
            @Html.TextAreaFor(m => m.Address, 2,30, new{@type="text", @style="width: 268px;margin-bottom: -15px;", @id="Address",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.Address)
            <br />
            @Html.LabelFor(m => m.Snils,new{@for="Snils",@class="h4"})
            <br />
            @Html.TextBoxFor(m => m.Snils, new{@type="text", @style="width: 268px;margin-bottom: -15px;", @id="Snils",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.Snils)
            <br />
            @Html.LabelFor(m => m.PassportInfo,new{@for="PassportInfo",@class="h4"})
            <br />
            @Html.TextBoxFor(m => m.PassportInfo, new{@type="text", @style="width: 268px;margin-bottom: -15px;", @id="PassportInfo",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.PassportInfo)
            <br />
            @Html.LabelFor(m => m.Role.Name,new{@for="RoleName",@class="h4"})
            <br/>
            @Html.DropDownListFor(m => m.RoleId, ViewBag.Role as SelectList,"Выберите роль пользователя...", new{@type="text", @style="width: 268px;margin-bottom: -15px;", @id="RoleName",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.Role.Name)
            <br />
            @Html.LabelFor(m => m.Account.Login,new{@for="AccLogin",@class="h4"})
            <br />
            @Html.TextBoxFor(m => m.Account.Login, new{@type="text", @style="width: 268px;margin-bottom: -15px;", @id="AccLogin",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.Account.Login)
            <br />
            @Html.LabelFor(m => m.Account.Password,new{@for="AccPassw",@class="h4"})
            <br />
            @Html.TextBoxFor(m => m.Account.Password, new{@type="text", @style="width: 268px;margin-bottom: -15px;", @id="AccPassw",@class="form-control"})
            <br />
            @Html.ValidationMessageFor(m => m.Account.Password)
            <br />
            <input type="submit" class="btn-primary btn" value="Добавить" />    <a class="btn btn-primary" asp-action="Index" asp-controller="User">Список</a>
        </div>
    </div>
}