@model OnlineJKH.DAL.Entities.User
@{
    ViewData["Title"] = ViewBag.NameView ?? "Добавление";
}
<script type="text/javascript"  src="~/lib/jquery/dist/jquery.min.js"></script>
<form asp-action="EditForm" id="formAcc" asp-controller="User" enctype="multipart/form-data" style="width:80%; margin-left:10%;">
    <div class="border border-primary rounded-3 m-4 p-1 container" id="Cloned">
        <div class="row">
            <div class="col-3">
                <p class="h5 text-center" style="margin-left: 75px;">Фото</p>
                <img style="margin-left:25px;" id="DisplayImage" width="250" height="300" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model?.Photo??new byte[0]))" onclick="document.getElementById('Image').click()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Нажмите чтобы добавить фото!" />
                <input type="file" name="Image" id="Image" style="display:none" accept=".jpg,.png">
            </div>
            <div class="col" style="margin-left: 45px;">
                <div class="row">
                    <div class="col-3" style="margin-right:45px;">
                        @Html.LabelFor(m => m.Surname,new{@for="Surname",@class="h5"})
                        <br />
                        @Html.TextBoxFor(m => m.Surname, new{@type="text", @id="Surname",@class="form-control inputWidth"})
                        <br />
                        @Html.ValidationMessageFor(m => m.Surname)
                        <br />
                    </div>
                    <div class="col-3" style="margin-right:45px;">
                        @Html.LabelFor(m => m.Name,new{@for="Name",@class="h5"})
                        <br />
                        @Html.TextBoxFor(m => m.Name, new{@type="text", @id="Name",@class="form-control inputWidth"})
                        <br />
                        @Html.ValidationMessageFor(m => m.Name)
                        <br />
                    </div>
                    <div class="col-3" style="margin-right:45px;">
                        @Html.LabelFor(m => m.Patronymic,new{@for="Patronymic",@class="h5"})
                        <br />
                        @Html.TextBoxFor(m => m.Patronymic, new{@type="text", @id="Patronymic",@class="form-control inputWidth"})
                        <br />
                        @Html.ValidationMessageFor(m => m.Patronymic)
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        @Html.LabelFor(m => m.PassportInfo,new{@for="PassportInfo",@class="h5"})
                        <br />
                        @Html.TextBoxFor(m => m.PassportInfo, new{@type="text", @id="PassportInfo",@class="form-control inputWidth"})
                        <br />
                        @Html.ValidationMessageFor(m => m.PassportInfo)
                        <br />
                    </div>
                    <div class="col-3">
                        @Html.LabelFor(m => m.Snils,new{@for= "Snils", @class = "h5"})
                        <br />
                        @Html.TextBoxFor(m => m.Snils, new{@type="text", @id="Snils",@class="form-control inputWidth"})
                        <br />
                        @Html.ValidationMessageFor(m => m.Snils)
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div style="width:96%">
                        @Html.LabelFor(m => m.Address,new{@for="Address",@class="h5"})
                        <br />
                        @Html.TextAreaFor(m => m.Address, new{@type="text", @id="Address",@class="form-control inputTextArea"})
                        <br />
                        @Html.ValidationMessageFor(m => m.Address)
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" style="margin-right:45px;">
                        @Html.LabelFor(m => m.Role.Name,new{@for="RoleName",@class="h5"})
                        <br />
                        @Html.DropDownListFor(m => m.RoleId, ViewBag.Role as SelectList,"Выберите роль пользователя...", new{@type="text", @id="RoleName",@class="form-control inputWidth"})
                        <br />
                        @Html.ValidationMessageFor(m => m.Role.Name)
                        <br />
                    </div>
                    <div class="col-3" style="margin-right:45px;">
                        @Html.LabelFor(m => m.Account.Login,new{@for="AccLogin",@class="h5"})
                        <br />
                        @Html.TextBoxFor(m => m.Account.Login, new{@type="text", @id="AccLogin",@class="form-control inputWidth"})
                        <br />
                        @Html.ValidationMessageFor(m => m.Account.Login)
                        <br />
                    </div>
                    <div class="col-3" style="margin-right:45px;">
                        @Html.HiddenFor(m=>m.AccountId)
                        @Html.LabelFor(m => m.Account.Password,new{@for="AccPassw",@class="h5"})
                        <br />
                        @Html.TextBoxFor(m => m.Account.Password, new{@type="text", @id="AccPassw",@class="form-control inputWidth"})
                        <br />
                        @Html.ValidationMessageFor(m => m.Account.Password)
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-2 offset-8">
                    <input type="submit" class="btn-primary btn" value=@ViewBag.Button />
                    <a class="btn btn-primary" asp-action="Index" asp-controller="User">Вернуться к списку</a>
                </div>
            </div>
        </div>
    </div>
</form>