@model OnlineJKH.DAL.Entities.User
@{
    ViewData["Title"] = "Изменение";
}
@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.LabelFor(m => m.Surname)
    <br />
    @Html.TextBoxFor(m => m.Surname)
    <br />
    @Html.ValidationMessageFor(m => m.Surname)
    <br />
    @Html.LabelFor(m => m.Name)
    <br />
    @Html.TextBoxFor(m => m.Name)
    <br />
    @Html.ValidationMessageFor(m => m.Name)
    <br />
    @Html.LabelFor(m => m.Patronymic)
    <br />
    @Html.TextBoxFor(m => m.Patronymic)
    <br />
    @Html.ValidationMessageFor(m => m.Patronymic)
    <br />
    @Html.LabelFor(m => m.Address)
    <br />
    @Html.TextAreaFor(m => m.Address, 2,30,null)
    <br />
    @Html.ValidationMessageFor(m => m.Address)
    <br />
    @Html.LabelFor(m => m.Snils)
    <br />
    @Html.TextBoxFor(m => m.Snils)
    <br />
    @Html.ValidationMessageFor(m => m.Snils)
    <br />
    @Html.LabelFor(m => m.PassportInfo)
    <br />
    @Html.TextBoxFor(m => m.PassportInfo)
    <br />
    @Html.ValidationMessageFor(m => m.PassportInfo)
    <br />
    @Html.LabelFor(m => m.Role.Name)
    <br />
    @Html.DropDownListFor(m => m.Role.Id, ViewBag.Role as SelectList,"Выберите роль пользователя!")
    <br />
    @Html.ValidationMessageFor(m => m.Role.Name)
    <br />
    @Html.LabelFor(m => m.Account.Login)
    <br />
    @Html.TextBoxFor(m => m.Account.Login)
    <br />
    @Html.ValidationMessageFor(m => m.Account.Login)
    <br />
    @Html.LabelFor(m => m.Account.Password)
    <br />
    @Html.TextBoxFor(m => m.Account.Password)
    <br />
    @Html.ValidationMessageFor(m => m.Account.Password)
    <br />
    <input type="submit" value="Добавить" />    <a asp-action="Index" asp-controller="User">Список</a>
}