@model IEnumerable<OnlineJKH.DAL.Entities.User>
@{
    ViewData["Title"] = "Пользователь";
}
@using (Html.BeginForm())
{
    <a asp-action="Create" asp-controller="User" class="btn btn-primary m-3 mx-0">Добавить пользователь</a>
    <table class="table table-bordered border-dark text-center align-content-center w-75">
        <thead class="bg-primary">
            <tr class="border-top-0">
                <th style="border-top-width: thin">Фамилия</th>
                <th style="border-top-width: thin">Имя</th>
                <th style="border-top-width: thin">Отчество</th>
                <th style="border-top-width: thin">Адрес</th>
                <th style="border-top-width: thin">СНИЛС</th>
                <th style="border-top-width: thin">Данные паспорта</th>
                <th style="border-top-width: thin">Админ</th>
                <th style="border-top-width: thin">Логин</th>
                <th style="border-top-width: thin">Пароль</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody class="table-primary border-dark align-baseline">
                <tr>
                    <td>@item.Surname</td>
                    <td>@item.Name</td>
                    <td>@item.Patronymic</td>
                    <td>@item.Address</td>
                    <td>@item.Snils</td>
                    <td>@item.PassportInfo</td>
                    <td>@item.Role.Name</td>
                    <td>@item.Account.Login</td>
                    <td>@item.Account.Password</td>
                    <td class="border-top border-bottom border-end bg-white border-white" style="padding-left:16px; width:165px;"><a class="btn btn-primary px-4" asp-action="Edit" asp-controller="User" asp-route-id="@item.Id">Изменить</a></td>
                    <td class="border-top border-bottom border-end bg-white border-white" style="width:100px"><a class="btn btn-primary px-4" asp-action="Delete" asp-controller="User" asp-route-id="@item.Id">Удалить</a></td>
                </tr>
            </tbody>
        }
    </table>
}