@model OnlineJKH.Models.ViewModel.AccountViewModel
@{
    Layout = "~/Views/Account/Shared/_Layout.cshtml";
    ViewData["Title"] = "Логин";
}
<link rel="stylesheet" type="text/css" href="~/css/login.css" />
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary("",true);
    <div class="block">
        @Html.LabelFor(m => m.Login)
        <br />
        @Html.TextBoxFor(m => m.Login)
        <br />
        @Html.ValidationMessageFor(m => m.Login)
        <br />
        @Html.LabelFor(m => m.Password)
        <br />
        @Html.TextBoxFor(m => m.Password)
        <br />
        @Html.ValidationMessageFor(m => m.Password)
        <br />
        <br/>
        <input type="submit" value="Войти" style="padding: 8px" />
    </div>
}